<form class="form" ng-submit="formSubmit()">
    <div class="form-group">
        <label for="forumCode">Kod:</label>
        <input type="text" class="form-control" data-ng-model="forum.forumCode" id="forumCode" placeholder="Kod" maxlength="5" required>
    </div>
    <div class="form-group">
        <label for="forumName">Nazwa:</label>
        <input type="text" class="form-control" data-ng-model="forum.forumName" id="forumName" placeholder="Nazwa" required>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Zapisz</button>
    </div>
</form>