<div class="">
    <a data-ng-href="#/forum/{{forumId}}/topic/{{topicId}}/addPost" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<div class="forums">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Treść</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="post in posts.content">
                <td data-ng-bind="post.content"></td>
            </tr>
        </tbody>
    </table>
</div>